@page
@model Website.Pages.AboutModel
@{
    ViewData["Title"] = "About";
}
<h1>About Build Your Bowl</h1>
<p>Founded in 2024 by students of the CIS 400 course, Build Your Bowl 
    offers customizable bowl and nacho options that are definitely 
    different from Chipotle, along with sides, drinks, and kids meals.</p>